<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="events.log" />
			</listeners>
		</trace>

		<!--
		TraceLevel value :
			- Off : 0 
			- Error : 1 
			- Warning : 2 
			- Info : 3 
			- Verbose : 4 
		--> 
        <switches>
           <add name="events" value="4" />
        </switches>
    </system.diagnostics>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" 
			     invariant="System.Data.SQLite" 
			     description=".Net Framework Data Provider for SQLite" 
			     type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>

	<connectionStrings>
        <add name="TestingDatabase"
            connectionString="Data Source=testingFiles/test.db3"
            providerName="System.Data.SQLite" />
	</connectionStrings>

</configuration>
